﻿@using DataGenerator.UI
<Blazorise.Table>
    @*<Blazorise.Heading>
        <Blazorise.TableRow>
            <Blazorise.TableHeaderCell Style="width: 100px;">
                SSN
            </Blazorise.TableHeaderCell>
            <Blazorise.TableRowCell Style="width: 100px;">
                Dates
            </Blazorise.TableRowCell>
        </Blazorise.TableRow>
    </Blazorise.Heading>*@
    <Blazorise.TableBody>
        <Blazorise.TableRow>
            <Blazorise.TableRowCell Style="width: 20%;">
                <DataGenerator.UI.SSNGenerator tableName="@TableName" fieldName="@fieldName" numRecords="@numRecords"/>
            </Blazorise.TableRowCell>
            <Blazorise.TableRowCell Style="width: 20%;">
                <DataGenerator.UI.DateGenerator tableName="@TableName" fieldName="@fieldName" numRecords="@numRecords"/>
            </Blazorise.TableRowCell>
        </Blazorise.TableRow>
    </Blazorise.TableBody>

</Blazorise.Table>

@code {
    [Parameter]
    public int numRecords { get; set; }
    [Parameter]
    public string TableName { get; set; }
    [Parameter]
    public string fieldName { get; set; }

}
