﻿@using System.Text
@*<Blazorise.Table>
    <Blazorise.TableHeader>
        <Blazorise.TableRowHeader>
           <Blazorise.Column>
               Date Insert Query
           </Blazorise.Column>
        </Blazorise.TableRowHeader>
        </Blazorise.TableHeader>
        <Blazorise.Row>
            <Blazorise.Column Style="width: 100px; word-wrap:normal;" >
                @sb
            </Blazorise.Column>
        </Blazorise.Row>
</Blazorise.Table>*@
@*<table style="width: 25%">
    <tr>
        <td>Insert Query</td>
    </tr>
        <tr>
            <td style="word-wrap: initial;">@sb</td>
        </tr>
</table>*@

<Blazorise.Table FullWidth="false">
    <Blazorise.TableHeader>
        <Blazorise.TableHeaderCell>
            <button class="btn btn-primary" @onclick="GenerateDates">Generate Dates</button>
        </Blazorise.TableHeaderCell>
    </Blazorise.TableHeader>
    <Blazorise.TableRow>
        <Blazorise.Column Style="width:500px; word-break: break-all; white-space: normal">
            @sb
        </Blazorise.Column>
    </Blazorise.TableRow>
</Blazorise.Table>

@code {
    [Parameter]
    public int numRecords { get; set; }
    [Parameter]
    public string tableName { get; set; }
    [Parameter]
    public string fieldName { get; set; }

    StringBuilder sb = new StringBuilder();
    List<DateTime> dates = new List<DateTime>();

    private void GenerateDates()
    {
        dates.Clear();
        sb.Clear();
        for (int i = 0; i < numRecords; i++)
        {
            Random rand = new Random();
            DateTime start = new DateTime(1900, 1, 1);
            int range = (DateTime.Today - start).Days;
            dates.Add(start.AddDays(rand.Next(range)));
        }
        sb.Append("INSERT INTO " + tableName + " column('" + fieldName + "') values(");

        DateTime[] datesarr = dates.ToArray();
        for (int i = 0; i < dates.Count; i++)
        {
            if (i != dates.Count - 1)
            {
                sb.Append("'" + datesarr[i].ToShortDateString() + "',");
            }
            else
            {
                sb.Append("'" + datesarr[i - 1].ToShortDateString() + "');");
            }
        }
    }


}
