﻿@using System.Text
<Blazorise.Table FullWidth="false">
    <Blazorise.TableHeader>
        <Blazorise.TableHeaderCell>
            <button class="btn btn-primary" @onclick="GenerateData">Generate SSN</button>
        </Blazorise.TableHeaderCell>
    </Blazorise.TableHeader>
                    <Blazorise.TableRow>
                        <Blazorise.Column Style="width:500px; word-break: break-all; white-space: normal">
                            @sbData
                        </Blazorise.Column>
                    </Blazorise.TableRow>
</Blazorise.Table>

@code {
        [Parameter]
        public int numRecords { get; set; }
        [Parameter]
        public string tableName { get; set; }
        [Parameter]
        public string fieldName { get; set; }
    private StringBuilder sbData = new StringBuilder();
    List<string> data = new List<string>();
    List<int> ssns = new List<int>();
    private void GenerateData()
    {
        ssns.Clear();
        sbData.Clear();
        for (int i = 0; i < numRecords; i++)
        {
            Random rand = new Random();
            int num = rand.Next(10000001, 99999999);
            ssns.Add(num);

        }
        sbData.Append("Insert into " + tableName + " column('" + fieldName + "') values(");
        int[] ssnarray = ssns.ToArray();
        for (int i = 0; i <= ssns.Count; i++)
        {
            if (numRecords > 0)
            {
                if (i != ssns.Count)
                {
                    sbData.Append("'" + ssnarray[i].ToString() + "',");
                }
                else
                {
                    sbData.Append("'" + "'" + ssnarray[i - 1].ToString() + "');");
                }
            }
        }
    }
}
