﻿@using DataGen.API;
@using DataGenerator.UI;
@page "/generator"
<div class="form-group">
    <div class="row" style="width: 20%;">
        <label>Field Name</label>
        <input type="text" @bind="@fieldName" class="form-control"/>
        <label>Number of rcords</label>
        <input type="text" @bind="@numRecords" class="form-control"/>
        <Label>TableName</Label>
        <input type="text" @bind="@tableName" class="form-control"/>
    </div>
</div>
<DataGenerator.UI.DataGenUI fieldName="@fieldName" TableName="@tableName" numRecords="@numRecords"/>




@code {
    string fieldName;
    int numRecords;
   string tableName;
}

